#not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
}

#not-found-content img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 8rem;
}

#not-found-content h1 {
  margin: 1rem 0;
  font-size: 4.5rem;
}

#not-found-content h6 {
  color: var(--sub-color);
  font-size: 1rem;
}

#not-found-content button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--color);
}

#not-found-content button:hover {
  background-color: rgb(255, 255, 255, 0.95);
}

#not-found-content a {
  margin-top: 0.5rem;
  color: var(--color);
  text-decoration: none;
}

#not-found-content a:hover {
  text-decoration: underline;
}

#not-found-content button:hover {
  opacity: 0.9;
}
