#not-found-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
}

#not-found-content img {
  width: 128px;
  height: 128px;
}

#not-found-content h1 {
  margin: 1rem 0;
  font-size: 72px;
}

#not-found-content h6 {
  color: var(--sub-color);
  font-size: 16px;
}

#not-found-content button {
  margin-top: 1rem;
  padding: 0.5rem 2rem;
  border: none;
  border-radius: 8px;
  color: var(--primary-color);
  background-color: var(--color);
}

#not-found-content a {
  margin-top: 8px;
  color: var(--color);
  text-decoration: none;
}

#not-found-content a:hover {
  text-decoration: underline;
}

#not-found-content button:hover {
  opacity: 0.9;
}
