body {
  margin: 0;
  overflow: hidden;
  color: #ffffff;
  user-select: none;
}

#frontground {
  z-index: 1;
  position: absolute;
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
    to right,
    rgba(0, 0, 0, 0.95) 0%,
    rgba(0, 0, 0, 0.75) 50%,
    rgba(0, 0, 0, 0.3) 100%
  );
}

#background {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #000000;
}

.card-container {
  gap: 1.2rem;
  rotate: -10deg;
  display: flex;
  width: max-content;
  height: max-content;
  transform-origin: center;
}

.card-container:not(:first-of-type) {
  margin-top: 1.5rem;
}

.card-container:nth-child(odd) {
  animation: slideLeft 80s linear infinite;
}

.card-container:nth-child(even) {
  animation: slideRight 80s linear infinite;
}

.card {
  object-fit: cover;
  width: 316px;
  height: 316px;
  border-radius: 8px;
}

#banner {
  object-fit: cover;
  z-index: 2;
  position: absolute;
  top: 2rem;
  left: 2rem;
  width: 150px;
  height: 40px;
}

#authentication-container h1 {
  margin-bottom: 1.4rem;
  font-size: 96px;
  font-family: "Roboto";
  word-spacing: -5px;
}

#settings-button {
  z-index: 2;
  position: absolute;
  top: 2rem;
  right: 2rem;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 16px;
  color: #ffffff;
  font-weight: bold;
  background-color: #000000;
}

#settings-button:hover {
  scale: 1.05;
  background-color: #141414;
}

#left-button {
  z-index: 2;
  position: absolute;
  top: 38%;
  left: 4rem;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background-color: #000000;
  transform: translate(-50%);
}

#right-button {
  z-index: 2;
  position: absolute;
  top: 38%;
  right: 4rem;
  width: 48px;
  height: 48px;
  border: none;
  border-radius: 50%;
  color: #ffffff;
  background-color: #000000;
  transform: translate(50%);
}

#left-button:hover,
#right-button:hover {
  background-color: #141414;
}

#authentication-container {
  z-index: 2;
  position: absolute;
  bottom: 5rem;
  left: 2rem;
}

#sign-up-button,
#log-in-button {
  padding: 0.9rem 2rem;
  border-radius: 24px;
  font-weight: bold;
  font-size: 14px;
  font-family: "Roboto";
  text-decoration: none;
}

#sign-up-button {
  border: none;
  color: #000000;
  background-color: #1ed760;
}

#sign-up-button:hover {
  scale: 1.05;
  background-color: #3be477;
}

#log-in-button {
  margin-left: 0.8rem;
  border: 1px solid #7c7c7c;
  color: #ffffff;
  background-color: transparent;
}

#log-in-button:hover {
  scale: 1.05;
  border: 1px solid #f6f6f6;
}

#circles {
  z-index: 2;
  position: absolute;
  bottom: 2rem;
  left: 50%;
  transform: translate(-50%);
}

.circle {
  width: 12px;
  height: 12px;
  border: none;
  border-radius: 50%;
  background-color: var(--sub-color);
}

.circle:first-of-type {
  scale: 1.4;
  background-color: #ffffff;
}

.circle:hover {
  background-color: #ffffff;
}

@keyframes slideLeft {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-100%);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(100%);
  }
}
