#browse-content {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-width: 12px;
  box-sizing: border-box;
  height: calc(100vh - 9.375rem);
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-color);
}

#card-container {
  gap: 1.5rem;
  display: flex;
  flex-wrap: wrap;
  padding: 0 1rem;
}

.card {
  aspect-ratio: 1.7841 / 1;
  position: relative;
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: 19.625rem;
  box-sizing: border-box;
  padding: 1rem;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

.card:hover {
  opacity: 0.9;
}

.card:nth-child(odd) {
  background-color: #8c1932;
}

.card:nth-child(odd):nth-child(5n + 1) {
  background-color: #dc148c;
}

.card:nth-child(odd):nth-child(7n + 3) {
  background-color: #8400e7;
}

.card:nth-child(odd):nth-child(9n + 5) {
  background-color: #8d67ab;
}

.card:nth-child(odd):nth-child(11n + 7) {
  background-color: #e13300;
}

.card:nth-child(odd):nth-child(13n + 9) {
  background-color: #503750;
}

.card:nth-child(even) {
  background-color: #a56752;
}

.card:nth-child(even):nth-child(3n + 2) {
  background-color: #006450;
}

.card:nth-child(even):nth-child(4n + 4) {
  background-color: #148a08;
}

.card:nth-child(even):nth-child(6n + 6) {
  background-color: #1e3264;
}

.card:nth-child(even):nth-child(8n + 8) {
  background-color: #477d95;
}

.card:nth-child(even):nth-child(10n + 10) {
  background-color: #777777;
}

.card:nth-child(even):nth-child(12n + 12) {
  background-color: #0d73ec;
}

.card > h2 {
  margin: 0;
}

.card-album-image {
  aspect-ratio: 1 / 1;
  position: absolute;
  right: -1.5rem;
  bottom: 0;
  width: 43.3121%;
  border-radius: 4px;
  background-color: red;
  box-shadow: var(--shadow-color);
  transform: rotate(22deg);
}

#browse-content::-webkit-scrollbar-button {
  display: none;
}

#browse-content::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#browse-content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroll-color);
}

#browse-content::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}
