footer {
  display: flex;
  align-items: center;
  box-sizing: border-box;
  height: 5.375rem;
  padding: 1rem;
  background-color: var(--primary-color);
}

#footer-left {
  gap: 0.7rem;
  display: flex;
  flex: 1;
  justify-content: flex-start;
  align-items: center;
}

#footer-left-start {
  display: flex;
  align-items: center;
}

#footer-left-start-container {
  position: relative;
  width: 3.5rem;
  height: 3.5rem;
  margin-right: 1rem;
}

#footer-image {
  aspect-ratio: 1 / 1;
  width: 100%;
  border-radius: 8px;
}

#footer-image:hover ~ #footer-image-collapse {
  opacity: 1;
}

#footer-image-collapse {
  display: flex;
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  justify-content: center;
  align-items: center;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(0, 0, 0, 0.6);
  transition: background-color 0.1s ease, transform 0.1s ease, opacity 0.2s ease;
}

#footer-image-collapse:hover {
  opacity: 1;
  background-color: rgb(0, 0, 0, 0.8);
  transform: scale(1.1);
}

#footer-center {
  gap: 0.5rem;
  display: flex;
  flex: 1;
  flex-direction: column;
  justify-content: center;
}

#footer-center-top {
  gap: 1rem;
  display: flex;
  justify-content: center;
}

#footer-right {
  gap: 0.2rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

#footer-song-details {
  overflow: hidden;
  white-space: nowrap;
}

#footer-song-authors {
  animation: slide-left-right 10s ease-in-out infinite;
}

#footer-song-authors a:hover {
  color: var(--color);
}

#footer-play-button {
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  color: var(--primary-color);
  cursor: pointer;
  background-color: var(--color);
  transition: background-color 0.1s ease, transform 0.1s ease;
}

#footer-play-button:hover {
  background-color: #ebebeb;
  transform: scale(1.05);
}

footer input[type="range"]:nth-child(2) {
  width: 100%;
  min-width: 13.6rem;
  max-width: 39rem;
}

footer input[type="range"]:nth-child(1) {
  width: 100%;
  min-width: 1.5rem;
  max-width: 6rem;
}

footer input[type="range"] {
  -webkit-appearance: none;
  appearance: none;
  height: 0.25rem;
  border-radius: 5px;
  outline: none;
  background-color: #4d4d4d;
  transition: background-color 0.3s ease;
}

footer input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  appearance: none;
  width: 0.75rem;
  height: 0.75rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--color);
  transition: background-color 0.3s ease;
}

#footer-center-bottom {
  gap: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

#footer-center-bottom p {
  margin: 0;
}

#sound-slider {
  display: flex;
  align-items: center;
  margin: 0 0.3rem;
}

@keyframes slide-left-right {
  0% {
    transform: translateX(100%);
  }
  50% {
    transform: translateX(0%);
  }
  100% {
    transform: translateX(-100%);
  }
}
