:root {
  --alert-color: #c42b1c;
  --card-color: #1f1f1f;
  --color: #ffffff;
  --highlight-color: rgb(255, 255, 255, 0.10);
  --nonary-color: #393c36;
  --octonary-color: #404040;
  --primary-accent-color: #1ed760;
  --primary-color: #000000;
  --primary-gradient: linear-gradient(to bottom, #8d9b77, #4c5441);
  --quaternary-color: #7c7c7c;
  --quintary-color: #1c1c1c;
  --scroll-color: #5a5a5a;
  --scroll-shadow-color: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
  --second-color: #3f3f3f;
  --secondary-accent-color: #3ae176;
  --secondary-color: #121212;
  --secondary-gradient: linear-gradient(to bottom, #3d4334 0%, var(--secondary-color) 15%);
  --secondary-highlight-color: rgb(255, 255, 255, 0.055);
  --secondary-sub-color: #9d9d9d;
  --senary-color: #484848;
  --septenary-color: #333333;
  --shadow-color: 0 2px 16px 0.1px rgb(0, 0, 0, 0.5);
  --sub-color: #b3b3b3;
  --tertiary-accent-color: red;
  --tertiary-color: #2a2a2a;
}

body {
  margin: auto;
  overflow: hidden;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif;
  user-select: none;
  background-color: var(--primary-color);
}

section {
  height: calc(100vh - 148px);
  margin: 0 0.5rem;
}

#left-splitter,
#right-splitter {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 9px;
  height: 100%;
}

#left-splitter:hover,
#right-splitter:hover {
  cursor: grab;
}

#left-splitter:hover #left-separator {
  border-left: 1px solid var(--quaternary-color);
}

#right-splitter:hover #right-separator {
  border-left: 1px solid var(--quaternary-color);
}

#left-separator,
#right-separator {
  height: 98%;
  border-left: 1px solid transparent;
  transition: border-color 0.2s linear;
}

#page {
  width: 100%;
  height: 100%;
}

@media only screen and (max-width: 1960px) {
  #playlist-title {
    font-size: 3.25rem !important;
    line-height: 5rem !important;
  }
}

@media only screen and (max-width: 1630px) {
  #playlist-title {
    font-size: 2rem !important;
    line-height: 4rem !important;
  }
}

@media only screen and (max-width: 1448px) {
  #playlist-title {
    font-size: 1.25rem !important;
    line-height: 3rem !important;
  }

  #songs th:nth-of-type(4), #songs td:nth-of-type(4) {
    display: none;
  }

  #playlist-details {
    flex-wrap: wrap;
  }
}

@media only screen and (max-width: 1100px) {
  #songs th:nth-of-type(3), #songs td:nth-of-type(3) {
    display: none;
  }
}

@media only screen and (max-width: 1000px) {
  #primary-bar {
    width: 100px;
    min-width: 100px !important;
  }

  .collapsable {
    display: none !important;
  }

  #primary-bar-header {
    padding: 1rem 1rem 0.5rem 1.5rem !important;
  }

  #primary-bar-header-container {
    margin-bottom: 0 !important;
  }

  #bottom-header {
    display: none !important;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --alert-color: #c42b1c;
    --card-color: #1f1f1f;
    --color: #ffffff;
    --highlight-color: rgb(255, 255, 255, 0.10);
    --nonary-color: #393c36;
    --octonary-color: #404040;
    --primary-accent-color: #1ed760;
    --primary-color: #000000;
    --primary-gradient: linear-gradient(to bottom, #8d9b77, #4c5441);
    --quaternary-color: #7c7c7c;
    --quintary-color: #1c1c1c;
    --scroll-color: #5a5a5a;
    --scroll-shadow-color: 0 4px 10px 1px rgba(0, 0, 0, 0.5);
    --second-color: #3f3f3f;
    --secondary-accent-color: #3ae176;
    --secondary-color: #121212;
    --secondary-gradient: linear-gradient(to bottom, #3d4334 0%, var(--secondary-color) 15%);
    --secondary-highlight-color: rgb(255, 255, 255, 0.055);
    --secondary-sub-color: #9d9d9d;
    --senary-color: #484848;
    --septenary-color: #333333;
    --shadow-color: 0 2px 16px 0.1px rgb(0, 0, 0, 0.5);
    --sub-color: #b3b3b3;
    --tertiary-accent-color: #1bc357;
    --tertiary-color: #2a2a2a;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --alert-color: #eb4738;
    --card-color: #eeeeee;
    --color: #000000;
    --highlight-color: rgb(0, 0, 0, 0.075);
    --nonary-color: #b8c5bc;
    --octonary-color: #040404;
    --primary-accent-color: #80a347;
    --primary-color: #ffffff;
    --primary-gradient: linear-gradient(to bottom, rgb(141, 155, 119, 0.5), rgb(76, 84, 65, 0.5));
    --quaternary-color: #9b9b9b;
    --quintary-color: #e9e9e9;
    --scroll-color: #a5a5a5;
    --scroll-shadow-color: 0 4px 10px 1px rgba(255, 255, 255, 0.5);
    --second-color: #f3f3f3;
    --secondary-accent-color: #688041;
    --secondary-color: #f9f9f9;
    --secondary-gradient: linear-gradient(to bottom, rgba(65, 71, 55, 0.45) 0%, var(--secondary-color) 15%);
    --secondary-highlight-color: rgb(0, 0, 0, 0.055);
    --secondary-sub-color: #757575;
    --senary-color: #b9b9b9;
    --septenary-color: #c0c0c0;
    --shadow-color: 0 2px 16px 0.1px rgb(255, 255, 255, 0.5);
    --sub-color: #4b4b4b;
    --tertiary-accent-color: #79c400;
    --tertiary-color: #d9d9d9;
  }
}

/* ########################### */

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.center {
  display: flex;
  justify-content: center;
}

.end-column {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.rotate-45 {
  rotate: 45deg;
}

.padding-1 {
  padding: 1rem;
}

.padding-14 {
  padding: 1.4rem;
}

.margin-top-bottom-1 {
  margin: 1rem 0;
}

.margin-0 {
  margin: 0;
}

.size-12 {
  font-size: 12px;
}

.size-13 {
  font-size: 13px;
}

.size-14 {
  font-size: 14px;
}

.size-16 {
  font-size: 16px;
}

.size-18 {
  font-size: 18px;
}

.size-20 {
  font-size: 20px;
}

.size-22 {
  font-size: 22px;
}

.size-24 {
  font-size: 24px;
}

.size-26 {
  font-size: 26px;
}

.normal {
  font-weight: normal;
}

.bold {
  font-weight: bold;
}

.no-wrap {
  text-overflow: ellipsis;
  text-wrap: nowrap;
}

.scroll-shadow {
  box-shadow: var(--scroll-shadow-color);
}

.pointer {
  cursor: pointer;
}

.anchor {
  text-decoration: none;
}

.anchor:hover {
  text-decoration: underline;
}

.title-bar-button {
  width: 44px;
  height: 32px;
  border: none;
  color: var(--color);
  background-color: transparent;
}

.title-bar-button:hover {
  background-color: var(--second-color);
}

.title-bar-button:last-of-type {
  color: var(--sub-color);
}

.title-bar-button:last-of-type:hover {
  background-color: var(--alert-color);
}

.content-playlist-button {
  border: none;
  color: var(--sub-color);
  cursor: pointer;
  background-color: transparent;
}

.content-playlist-button:hover {
  color: var(--color);
}

.content-playlist-button-search {
  width: 32px;
  height: 32px;
  border: none;
  border-radius: 50%;
  color: var(--sub-color);
  cursor: pointer;
  background-color: transparent;
  transition: background-color 0.1s ease;
}

.content-playlist-button-search:hover {
  color: var(--color);
  background-color: var(--quintary-color);
}

.color-white {
  color: var(--color);
}

.color-lime {
  color: var(--tertiary-accent-color) !important;
}

.color-gray {
  color: var(--sub-color);
}

.border-radius-top-left-right-50 {
  border-radius: 8px 8px 0 0;
}

.follow-button {
  padding: 0.4rem 1rem;
  border: 1px solid var(--quaternary-color);
  border-radius: 16px;
  color: var(--color);
  background-color: var(--card-color);
}

.follow-button:hover {
  border: 1px solid var(--sub-color);
}

.link {
  color: var(--sub-color);
  font-weight: bold;
  font-size: 14px;
  text-decoration: none;
}

.link:hover {
  color: var(--color);
  text-decoration: underline;
}
