header {
  -webkit-app-region: drag;
  display: flex;
  box-sizing: border-box;
  height: 4rem;
  padding: 0.5rem 0 0.5rem 1rem;
  background-color: var(--primary-color);
}

header div {
  display: flex;
  align-items: center;
}

#header-left {
  flex: 1;
  justify-content: flex-start;
}

#header-center {
  gap: 0.5rem;
  flex: 1;
  justify-content: center;
  padding-right: 1rem;
}

#header-right {
  gap: 0.8232rem;
  display: flex;
  flex: 1;
  justify-content: flex-end;
  align-items: center;
}

#header-right-start {
  gap: 0.8232rem;
  display: flex;
  align-items: center;
}

#header-right-end {
  display: flex;
  align-items: center;
}

header button,
header input {
  -webkit-app-region: no-drag;
}

#header-go-back-button,
#header-go-forward-button {
  position: relative;
}

#go-forward-tooltip {
  transform: translateX(-35%);
}

#home-tooltip {
  transform: translate(-10%, 35%);
}

#search-tooltip {
  transform: translate(-18%, 40%);
}

#browse-tooltip {
  transform: translate(-20%, 40%);
}

#profile-tooltip {
  transform: translate(-25%, 50%);
}

#header-go-back-button:hover #go-back-tooltip,
#header-go-forward-button:hover #go-forward-tooltip,
#header-home-button:hover #home-tooltip,
#search-button:hover #search-tooltip,
#browse-button:hover #browse-tooltip,
#header-whats-new-button:hover #whats-new-tooltip,
#header-friend-activity-button:hover #friend-activity-tooltip,
#profile-button:hover #profile-tooltip {
  opacity: 1;
  visibility: visible;
}

#header-home-button {
  position: relative;
  width: 2.625rem;
  height: 2.625rem;
  border: none;
  border-radius: 50%;
  color: var(--sub-color);
  cursor: pointer;
  background-color: var(--card-color);
}

#home-icon {
  transition: transform 0.1s ease;
}

#header-home-button:hover #home-icon {
  transform: scale(1.05);
}

.header-button {
  position: relative;
  padding: 0.7rem;
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  color: var(--sub-color);
  cursor: pointer;
  background-color: var(--card-color);
}

#search-button {
  border-right: none;
  border-left: 1px solid transparent;
  border-radius: 50% 0 0 50%;
}

#browse-button {
  border-right: 1px solid transparent;
  border-left: none;
  border-radius: 0 50% 50% 0;
}

#header-search-container {
  display: flex;
  align-items: center;
}

#search-bar {
  height: 2.625rem;
  padding: 0.8rem 8rem 0.8rem 0;
  border: 1px solid transparent;
  font-weight: bold;
  font-size: 14px;
  background-color: var(--card-color);
}

#search-bar:hover,
#header-search-container:hover #search-button,
#header-search-container:hover #search-bar,
#header-search-container:hover #search-bar-separator-container,
#header-search-container:hover #browse-button {
  border-top: 1px solid var(--scroll-color);
  border-bottom: 1px solid var(--scroll-color);
  background-color: var(--tertiary-color);
}

#header-search-container:hover #search-button {
  border-left: 1px solid var(--scroll-color);
  color: var(--color);
}

#header-search-container:hover #browse-button {
  border-right: 1px solid var(--scroll-color);
}

#browse-button:hover {
  color: var(--color);
}

#browse-button i {
  transition: transform 0.1s ease;
}

#browse-button i:hover {
  transform: scale(1.05);
}

#header-whats-new-button,
#header-friend-activity-button {
  position: relative;
}

#search-bar-separator-container {
  box-sizing: border-box;
  height: 2.625rem;
  background-color: var(--card-color);
}

#search-bar-separator {
  width: inherit;
  height: 1.5rem;
  border-left: 1px solid var(--quaternary-color);
}

#profile-button {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  width: 3rem;
  height: 3rem;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  background-color: var(--card-color);
  transition: transform 0.1s ease;
}

#profile-button:hover {
  transform: scale(1.05);
}

header img {
  width: 2.125rem;
  height: 2.125rem;
  border-radius: 50%;
}
