#lyrics-content {
    -ms-overflow-style: -ms-autohiding-scrollbar;
    scrollbar-color: var(--scroll-color) transparent;
    scrollbar-width: 12px;
    box-sizing: border-box;
    height: 100%;
    padding: 1rem 8rem;
    border-radius: 8px;
    overflow-x: hidden;
    overflow-y: auto;
    color: var(--color);
    font-weight: 500;
    font-size: 3rem;
    background-color: #b2568a;
}

#lyrics-content::-webkit-scrollbar {
    width: 0.75rem;
}

#lyrics-content::-webkit-scrollbar-button {
    display: none;
}

#lyrics-content::-webkit-scrollbar-track {
    background-color: #f1f1f1;
}

#lyrics-content::-webkit-scrollbar-thumb {
    border-radius: 6px;
    background-color: var(--scroll-color);
}

#lyrics-content::-webkit-scrollbar-thumb:hover {
    background-color: #898989;
}

#lyrics-content::-webkit-scrollbar {
    width: 0.75rem;
}
