#content {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-width: 12px;
  position: relative;
  box-sizing: border-box;
  height: 100%;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: var(--secondary-color);
}

#playlist-top {
  background: var(--primary-gradient);
}

#playlist-image-container {
  display: flex;
  position: relative;
  flex-direction: column;
  justify-content: end;
  max-width: 14.75rem;
  max-height: 14.75rem;
  margin: 4rem 1.4rem 0 0;
}

#playlist-image-overlay {
  aspect-ratio: 1 / 1;
  display: flex;
  opacity: 0;
  position: absolute;
  top: 0;
  left: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.5);
  transition: opacity 0.2s ease;
}

#playlist-image-overlay:hover {
  opacity: 1;
}

#playlist-image-overlay i {
  margin-bottom: 0.1rem;
  font-size: 2rem;
}

#playlist-image-overlay h4 {
  margin: 0;
  font-weight: 500;
  font-size: 1.1rem;
}

#playlist-img {
  object-fit: cover;
  width: 100%;
  min-width: 8rem;
  border-radius: 8px;
  box-shadow: var(--shadow-color);
}

#playlist-play-button {
  width: 54px;
  min-width: 54px;
  height: 54px;
  min-height: 54px;
  border: none;
  border-radius: 50%;
  color: var(--primary-color);
  background-color: var(--primary-accent-color);
}

#playlist-play-button:hover {
  background-color: var(--secondary-accent-color);
}

#playlist-bottom {
  background: var(--secondary-gradient);
}

#playlist-bottom-header {
  padding: 1.4rem;
}

#songs-container {
  padding: 0 1.6rem 0.5rem 1.6rem;
}

#songs {
  width: 100%;
  border-collapse: collapse;
  color: var(--sub-color);
}

.column-title-container {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#first-column-title {
  margin-left: 1.125rem;
}

#last-column-title {
  justify-content: end;
}

.songs-column-title {
  margin: 0;
  color: var(--sub-color);
  transition: color 0.2s ease;
}

.songs-column-title:hover {
  color: var(--color);
}

.song:hover {
  border-radius: 8px;
  background-color: var(--highlight-color);
}

.song:hover .song-authors a,
.song:hover .song-album {
  color: var(--color);
}

.song-title {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--color);
  font-size: 14px;
}

.song-authors {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  overflow: hidden;
}

.song-authors a {
  transition: color 0.2s ease;
}

.song-album {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  width: fit-content;
  overflow: hidden;
  color: var(--sub-color);
  font-size: 0.8125rem;
  text-decoration: none;
  transition: color 0.2s ease;
}

.song-album:hover {
  text-decoration: underline;
}

#songs th {
  padding: 0.4rem 0;
  border-bottom: 1px solid var(--nonary-color);
  font-size: 14px;
}

#first-column {
  display: flex;
  justify-content: end;
  align-items: center;
}

#first-column i {
  display: none;
  color: var(--color);
  font-size: 0.8rem;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

#song-playing-icon {
  display: block !important;
}

#songs th:first-of-type,
#songs td:first-of-type {
  text-align: right;
}

.last-row {
  text-align: right;
}

#songs td:last-of-type {
  text-align: center;
}

#songs th:nth-child(1) {
  width: 1.8%;
}

#songs th:nth-child(2) {
  width: 42%;
}

#songs th:nth-child(3) {
  width: 28%;
}

#songs th:nth-child(4) {
  width: 23.2%;
}

#songs th:nth-child(5) {
  width: 3%;
}

#songs th:nth-child(6) {
  width: 2%;
}

#songs td:first-of-type {
  border-radius: 8px 0 0 8px;
}

#songs td {
  padding: 0.4rem 0;
}

#songs td:last-of-type {
  border-radius: 0 8px 8px 0;
}

#songs td:last-of-type i,
#songs td:nth-last-of-type(3) i {
  opacity: 0;
  cursor: pointer;
  transition: opacity 0.2s ease;
}

#songs tr:hover i {
  opacity: 1;
}

#songs tr:hover #first-column i {
  display: flex;
}

#songs tr:hover #first-column p,
#songs tr:hover #song-playing-icon 
{
  display: none !important;
}

#songs img {
  width: 2.625rem;
  height: 2.625rem;
  margin-right: 0.75rem;
  margin-left: 1.125rem;
  border-radius: 8px;
}

#playlist-title {
  margin-top: 0;
  margin-bottom: 0.6rem;
  font-weight: 800;
  font-size: 88px;
  line-height: 6rem;
  cursor: pointer;
}

#playlist-details {
  gap: 0.25rem;
  display: flex;
  align-items: center;
  min-width: 15.625rem;
  margin-top: 0.65rem;
}

#profile-img {
  width: 1.5625rem;
  height: 1.5625rem;
  border-radius: 50%;
}

#song-detail {
  gap: 0.3rem;
  display: flex;
  align-items: center;
}

#video-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 1rem;
  height: 1rem;
  border-radius: 2px;
  color: var(--secondary-color);
  font-weight: bold;
  font-size: 11px;
  background-color: var(--sub-color);
}

#play-square-icon-background {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 0.8rem;
  height: 0.6rem;
  border: 2px solid var(--sub-color);
  border-radius: 2px;
}

#play-square-icon {
  font-size: 7px;
}

#about-artist-dialog-container {
  display: flex;
  visibility: hidden;
  z-index: 3;
  position: fixed;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: rgb(0, 0, 0, 0.7);
}

#about-artist-dialog {
  position: relative;
  width: 48rem;
  height: 60rem;
  border-radius: 8px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #121212;
}

#about-artist-dialog-close-button {
  z-index: 1;
  position: absolute;
  top: 1rem;
  right: 1rem;
  width: 2rem;
  height: 2rem;
  border: none;
  border-radius: 50%;
  color: var(--sub-color);
  cursor: pointer;
  background-color: var(--primary-color);
}

#about-artist-dialog-close-button:hover {
  color: var(--color);
  background-color: rgb(255, 255, 255, 0.25);
}

#dialog-top {
  position: relative;
}

#dialog-banner {
  aspect-ratio: 16 / 9;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

#banner-slider {
  display: flex;
  position: absolute;
  top: 50%;
  left: 2.5%;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  transform: translateY(-50%);
}

#banner-slider-left,
#banner-slider-right {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  border: none;
  border-radius: 50%;
  color: var(--sub-color);
  font-size: 16px;
  cursor: pointer;
  background-color: var(--primary-color);
}

#banner-slider-left:hover,
#banner-slider-right:hover {
  color: var(--color);
  background-color: rgb(255, 255, 255, 0.25);
}

#dialog-bottom {
  gap: 2rem;
  display: flex;
  padding: 2.5rem;
}

.dialog-header {
  margin-bottom: 1rem;
}

#dialog-bottom h1 {
  margin: 0;
  font-size: 34px;
}

#dialog-bottom p {
  margin: 0;
}

#dialog-bottom a {
  color: var(--color);
  font-size: 14px;
  text-decoration: none;
}

#dialog-bottom a:hover {
  text-decoration: underline;
}

#dialog-bottom-left {
  gap: 1.4rem;
  display: flex;
  flex-direction: column;
}

#dialog-socials div,
#dialog-posted-by {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#dialog-posted-by {
  margin-top: 1rem;
}

#dialog-socials {
  gap: 1.4rem;
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}

#dialog-socials img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 2rem;
  border-radius: 8px;
}

#dialog-posted-by img {
  width: 3rem;
  height: 3rem;
  border-radius: 50%;
}

#content::-webkit-scrollbar-button {
  display: none;
}

#content::-webkit-scrollbar-track {
  background-color: #f1f1f1; 
}

#content::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroll-color);
}

#content::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}
