#primary-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35.3rem;
  min-width: 17.55rem;
  height: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
}

#primary-bar-header {
  padding: 1rem 1rem 0.5rem 1rem;
}

#primary-bar-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.313rem;
}

#primary-bar-header-left {
  gap: 0.85rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

#primary-bar-collapse-button {
  position: relative;
  gap: 1.2rem;
  display: flex;
  align-items: center;
  border: none;
  color: var(--sub-color);
  font-weight: bolder;
  font-size: 0.96rem;
  cursor: pointer;
  background-color: transparent;
  transition: color 0.2s ease;
}

#create-playlist-folder-button,
#show-more-button {
  position: relative;
}

#primary-bar-collapse-button:hover {
  color: var(--color);
}

#collapse-library-tooltip {
  transform: translate(-5%, -320%);
}

#playlist-folder-tooltip {
  transform: translate(-40%, -280%);
}

#show-more-tooltip {
  transform: translate(-30%, -280%);
}

#primary-bar-collapse-button:hover #collapse-library-tooltip,
#create-playlist-folder-button:hover #playlist-folder-tooltip,
#show-more-button:hover #show-more-tooltip {
  opacity: 1;
  visibility: visible;
}

#primary-bar-header-right {
  gap: 0.5rem;
  display: flex;
  align-items: center;
}

#recents-button {
  transition: transform 0.2s ease;
}

#recents-button:hover {
  transform: scale(1.05);
}

#playlist-filter {
  gap: 8px;
  display: flex;
  align-items: center;
  overflow: hidden;
}

#playlist-filter button {
  font-weight: bold;
}

.playlist-button {
  padding: 0.5rem 0.8rem;
  border: none;
  border-radius: 16px;
  color: var(--color);
  cursor: pointer;
  background-color: var(--tertiary-color);
  transition: background-color 0.1s ease;
}

.playlist-button:hover {
  background-color: var(--septenary-color);
}

.playlist-button:active {
  background-color: rgb(255, 255, 255, 0.25);
}

#bottom-header {
  padding: 0 0 0.5rem 0.5rem;
}

#primary-bar img {
  width: 100%;
  border-radius: 8px;
}

#primary-bar h4,
h5 {
  margin: 0;
}

#primary-bar h5 {
  color: var(--secondary-sub-color);
}

#playlists {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-width: 12px;
  display: flex;
  flex-grow: 1;
  flex-direction: column;
  padding: 0.5rem;
  overflow-x: hidden;
  overflow-y: auto;
}

.playlist {
  justify-content: space-between;
  padding: 0.5rem;
  border-radius: 8px;
  cursor: pointer;
}

.playlist:nth-child(2) {
  background-color: var(--tertiary-color);
}

.playlist:nth-of-type(2):hover {
  background-color: var(--senary-color);
}

.playlist:hover {
  background-color: var(--secondary-highlight-color);
}

.playlist:active {
  background-color: #000000;
}

.playlist:nth-child(2):active {
  background-color: rgb(255, 255, 255, 0.3);
}

.playlist:hover #playlists-playlist-image-overlay {
  opacity: 1;
}

#playlists-playlist-image-container {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
  margin-right: 0.8rem;
}

#playlists-playlist-image-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.25);
  transition: opacity 0.2s ease;
}

#playlists-playlist-image-overlay i {
  z-index: 2;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.thumbtack {
  margin-right: 0.45rem;
}

#playlists::-webkit-scrollbar {
  width: 0.75rem;
}

#playlists::-webkit-scrollbar-button {
  display: none;
}

#playlists::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#playlists::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroll-color);
}

#playlists::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

#playlists::-webkit-scrollbar {
  width: 0.75rem;
}
