#primary-bar {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 9rem);
  background-color: #121212;
  border-radius: 8px;
  box-sizing: border-box;
}

#primary-bar-header {
  padding: 1rem 1rem 0.5rem 1rem;
}

#primary-bar-header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 1.313rem;
}

#primary-bar-header-left {
  display: flex;
  gap: 0.85rem;
  align-items: center;
  cursor: pointer;
}

#primary-bar-header-right {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

#playlist-filter {
  display: flex;
  align-items: center;
  gap: 8px;
}

#playlist-filter button {
  font-weight: bold;
}

.playlist-button {
  background-color: #2a2a2a;
  color: #ffffff;
  border: none;
  padding: 0.5rem 0.8rem;
  border-radius: 16px;
  cursor: pointer;
  transition: background-color 0.1s ease;
}

.playlist-button:hover {
  background-color: #333333;
}

#bottom-header {
  padding: 0 0 0.5rem 0.5rem;
}

#primary-bar img {
  width: 50px;
  height: 50px;
  border-radius: 8px;
  margin-right: 0.8rem;
}

#primary-bar h4,
h5 {
  margin: 0;
}

#primary-bar h5 {
  color: #9d9d9d;
}

#playlists {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0.5rem;
}

.playlist {
  cursor: pointer;
  padding: 0.5rem;
  justify-content: space-between;
}

.playlist:nth-child(2) {
  border-radius: 8px;
  background-color: #2a2a2a;
}

.playlist:nth-of-type(2):hover {
  background-color: #484848;
}

.playlist:hover {
  border-radius: 8px;
  background-color: #1f1f1f;
}

.thumbtack {
  margin-right: 0.45rem;
}

/* Applies to WebKit browsers (e.g., Chrome, Edge, Safari) */
#playlists::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}

#playlists::-webkit-scrollbar-button {
  display: none;
}

#playlists::-webkit-scrollbar-track {
  background: #f1f1f1; /* Scrollbar track (background) */
}

#playlists::-webkit-scrollbar-thumb {
  background: #5a5a5a; /* Scrollbar thumb (the draggable part) */
  border-radius: 6px; /* Rounded corners for the thumb */
}

#playlists::-webkit-scrollbar-thumb:hover {
  background: #898989; /* Darker on hover */
}

/* Applies to Firefox */
#playlists {
  scrollbar-width: 12px; /* "auto" or "thin" */
  scrollbar-color: #5a5a5a transparent; /* thumb color and track color */
}

/* Styling for Edge and IE */
#playlists {
  -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* Applies to WebKit browsers (e.g., Chrome, Edge, Safari) */
#playlists::-webkit-scrollbar {
  width: 12px; /* Width of the scrollbar */
}
