#secondary-bar {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  max-width: 26.15rem;
  height: 100%;
  border-radius: 8px;
  background-color: var(--secondary-color);
}

#secondary-bar:hover #copy-link-button {
  opacity: 1;
  transform: translateX(0%);
}

#secondary-bar-header {
  padding: 1rem;
}

#secondary-bar-header-right {
  gap: 0.6rem;
  display: flex;
  align-items: center;
}

#secondary-bar-content {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 0 0 1rem 1rem;
  overflow-x: hidden;
  overflow-y: auto;
}

#more-options-button,
#secondary-bar-close-button,
#copy-link-button,
#add-to-playlist-button {
  position: relative;
}

#more-options-tooltip {
  transform: translate(-55%);
}

#secondary-bar-close-tooltip {
  transform: translate(-15%);
}

#copy-link-tooltip {
  transform: translate(-50%, -320%);
}

#add-to-playlist-tooltip {
  transform: translate(-75%, -320%);
}

#more-options-button:hover #more-options-tooltip,
#secondary-bar-close-button:hover #secondary-bar-close-tooltip,
#copy-link-button:hover #copy-link-tooltip,
#add-to-playlist-button:hover #add-to-playlist-tooltip {
  visibility: visible;
  opacity: 1;
}

#song-img {
  object-fit: cover;
  border-radius: 8px;
  cursor: pointer;
}

#copy-link-button {
  opacity: 0;
  transition: transform 0.4s ease, opacity 0.4s ease;
  transform: translateX(50%);
}

#about-artist-container {
  display: flex;
  position: relative;
  flex-direction: column;
}

#artist-img {
  aspect-ratio: 16 / 10.4;
  object-fit: cover;
  width: 100%;
  border-radius: 8px 8px 0 0;
}

#artist-img-overlay {
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px 8px 0 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.3) 0%, rgb(0, 0, 0, 0.05) 50%);
}

#about-card {
  display: flex;
  position: relative;
  flex-direction: column;
  cursor: pointer;
}

#about-the-artist-text {
  z-index: 2;
  position: absolute;
  top: 1rem;
  left: 1rem;
  margin: 0;
}

#about-artist {
  padding: 1rem;
  border-radius: 0 0 8px 8px;
  background-color: var(--card-color);
}

#artist-description {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  line-clamp: 3;
  display: -webkit-box;
  margin: 0;
  overflow: hidden;
  color: var(--sub-color);
  font-size: 0.875rem;
}

#credits {
  gap: 1rem;
  display: flex;
  flex-direction: column;
  padding: 1rem;
  border-radius: 8px;
  background-color: var(--card-color);
}

#queue {
  padding-bottom: 0.5rem;
  border-radius: 8px;
  background-color: var(--card-color);
}

#queue-next {
  gap: 0.75rem;
  display: flex;
  align-items: center;
  margin: 0 0.5rem 0 0.5rem;
  padding: 0.5rem;
  border-radius: 8px;
}

#queue-next:hover {
  cursor: pointer;
  background-color: var(--second-color);
}

#queue-next:active {
  background-color: #000000;
}

#queue-next:hover #queue-next-ellipsis,
#queue-next:hover #queue-next-image-overlay,
#queue-next:hover #queue-next-image-container i {
  opacity: 1;
}

#queue-next:hover #queue-next-anchor {
  color: var(--color);
}

#queue-next-image-container {
  position: relative;
  width: 3.125rem;
  height: 3.125rem;
}

#next-song-img {
  aspect-ratio: 1 / 1;
  object-fit: cover;
  width: 100%;
  border-radius: 8px;
}

#queue-next-image-container i {
  display: flex;
  opacity: 0;
  z-index: 2;
  position: absolute;
  top: 0;
  left: 0;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  transition: opacity 0.2s ease;
}

#queue-next-image-overlay {
  opacity: 0;
  z-index: 1;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border-radius: 8px;
  background-color: rgb(0, 0, 0, 0.25);
  transition: opacity 0.2s ease;
}

#queue-next-anchor {
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  line-clamp: 1;
  display: -webkit-box;
  width: 100%;
  overflow: hidden;
}

#queue-next-ellipsis {
  opacity: 0;
  transition: opacity 0.2s ease, color 0.2s ease;
}

#queue-next-ellipsis:hover {
  opacity: 1;
  color: var(--color);
}

#queue-next-ellipsis:active {
  color: rgb(255, 255, 255, 0.5);
}

#secondary-bar::-webkit-scrollbar {
  width: 0.75rem;
}

#secondary-bar::-webkit-scrollbar-button {
  display: none;
}

#secondary-bar::-webkit-scrollbar-track {
  background-color: #f1f1f1;
}

#secondary-bar::-webkit-scrollbar-thumb {
  border-radius: 6px;
  background-color: var(--scroll-color);
}

#secondary-bar::-webkit-scrollbar-thumb:hover {
  background-color: #898989;
}

#secondary-bar {
  -ms-overflow-style: -ms-autohiding-scrollbar;
  scrollbar-color: var(--scroll-color) transparent;
  scrollbar-width: 12px;
}
